.e-cart-container {
}

.products-container {
    margin-top: 20pt;
}

.product-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.arrow-back-btn {
    position: absolute;
    top: 200pt;
    left: 10pt;
}
