<div class="e-cart-container">
    <div class="products-container">
        <div *ngFor="let product of products$ | async">
            <div class="product-details">
                <span>{{
                    product.payload.name + ' * ' + product.quantity
                }}</span>
                <span
                    class="material-icons small-delete-icon"
                    (click)="onDelete(product)"
                >
                    delete
                </span>
            </div>
        </div>
        <div *ngIf="!(products$ | async).length">
            {{ 'APP.SHOPPINGCART.EMPTY' | translate }}
        </div>
    </div>
    <button
        mat-mini-fab
        color="primary"
        class="arrow-back-btn"
        routerLink="/eshop"
    >
        <span class="material-icons">
            arrow_back
        </span>
    </button>
</div>
