// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-seed-primary: mat-palette($mat-indigo);
$angular-seed-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-seed-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-seed-theme: mat-light-theme(
    $angular-seed-primary,
    $angular-seed-accent,
    $angular-seed-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin project-components-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    header {
        background-color: mat-color($accent);
        height: 60pt;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .small-delete-icon {
        margin-left: 10pt;
        color: mat-color($primary);
    }
}

@include project-components-theme($angular-seed-theme);
@include angular-material-theme($angular-seed-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
